* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

ul {
    list-style-type: none;

}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
align-items: center;
    /* padding-top: 21.84px; */
}

.header .logo {
    padding: 21.84px;
}

.list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    padding-top: 36px;

}

.list a {
    color: #3A3845;
}

.icons ul {

    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 31px;
}